@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*photo-galary-what-we-do*/
.photo-galary-what-we-do {
  position: relative;
  min-height: 1200px;
}
.yellow-right {
  width: 50%;
  height: 1190px;
  background-color: #f7ce21;
  position: absolute;
  right: 0;
  z-index: 1;
}
.glary-image1 {
  width: 567px;
  height: 344px;
  margin-top: 70px;
  margin-left: 260px;
  z-index: 3;
  position: absolute;
  border-radius: 20px !important;
}
.glary-image2 {
  width: 526px;
  height: 318px;
  margin-top: 300px;
  margin-left: 550px;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
}
.glary-image3 {
  width: 402px;
  height: 299px;
  margin-top: 550px;
  margin-left: 200px;
  border-radius: 20px;
  position: absolute;
  z-index: 3;
}
.what-we-do {
  background-color: white;
  width: 490px;
  border-radius: 20px;
  padding: 40px;
  margin-top: 730px;
  margin-left: 500px;
  position: absolute;
  z-index: 4;
}
.cmn-what-text {
  font-weight: 600;
}
.what-we-do a {
  color: black;
}
.cmn-btns {
  border: none;
  font-weight: 600;
  background-color: #242c53;
  color: white;
  padding: 10px 22px;
  border-radius: 20px;
}
.cmn-btns:hover {
  background-color: #f7ce21;
  color: #242c53;
}
/*photo-galary-what-we-do*/

/*architecture-text-cont*/
.architecture-text-cont {
  margin-top: 70px;
}
.architecture-text-cont h1 {
  font-weight: 600;
  font-size: 3rem;
}
.architecture-text-cont p {
  font-weight: 400;
}
/*architecture-text-cont*/

/*our service*/
.our-service {
  width: 100%;
  background-color: #242c53;
  min-height: 900px;
  margin-top: 150px;
}
.service-card {
  margin-top: -90px;
  border: none !important;
  border-radius: 0 !important;
  /*height: 238px;*/
  /*border: 1px solid red;*/
}

.service-img-cmn {
  width: 65px !important;
  background-color: #f7ce21;
  padding: 10px;
  border-radius: 100% !important;
  /* justify-content: center !important; */
}
.service-card h5 {
  font-weight: 600;
}
.service-card p {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin-bottom: 30px !important;
}
.aboutus-row {
  margin-top: 130px !important;
  color: white;
}
.cmn-p-text {
  font-weight: 600;
}
.aboutus-row h1 {
  width: 90%;
  font-size: 3rem;
}
.aboutus-row p:last-of-type {
  font-weight: 400;
  font-size: 1.1rem;
}
.aboutus-row h4 {
  font-weight: 600;
  width: 90%;
}
.sample-p {
  font-size: 1.1rem;
}
.aboutus-row button {
  border: none;
  font-weight: 600;
  background-color: #f7ce21;
  color: black;
  padding: 10px 22px;
  border-radius: 20px;
}
/*our service*/

/*who are the best*/
.who-are-the-best {
  width: 100%;
  min-height: 690px;
  position: relative;
}
.who-best-image {
  width: 652px;
  height: 565px;
  border-radius: 20px !important;
  position: absolute;
  z-index: 5;
  margin-left: 200px;
  margin-top: -200px;
}
.who-best-yellow-right {
  width: 60%;
  height: 480px;
  background-color: #f7ce21;
  position: absolute;
  right: 0;
  z-index: 4;
}
.who-are-the-best-cont {
  background-color: white;
  width: 609px;
  position: absolute;
  z-index: 6;
  left: 680px;
  margin-top: 15%;
  border-radius: 20px;
  padding: 40px;
}
.who-best-title {
  font-weight: 600;
}
.who-best-p {
  line-height: 30px;
}
.freepik {
  color: black;
}
/*who are the best*/
