@media only screen and (max-width: 1200px) {
  /*photo-galary-what-we-do*/
  .glary-image1 {
    margin-left: 150px;
  }
  .glary-image2 {
    margin-left: 460px;
  }
  .glary-image3 {
    margin-left: 130px;
  }
  .what-we-do {
    margin-left: 430px;
  }
  /*photo-galary-what-we-do*/

  /*who are the best*/
  .who-best-image {
    margin-left: 100px;
  }
  .who-are-the-best-cont {
    left: 570px;
  }
  /*who are the best*/

  /*about company*/
  .cmn-company-content h1 {
    font-size: 2.1rem;
  }
  .cmn-company-content {
    padding-left: 80px;
  }
  .cmn-company-content p {
    line-height: 40px;
    font-weight: 500;
    max-width: 370px;
    text-align: justify;
  }
  /*about company*/

  /*embedded architecture content*/
  .embed-image1 {
    top: 200px;
    left: 27px;
  }
  .embed-image2 {
    left: 502px;
  }
  .embed-image3 {
    top: 358px;
    left: 155px;
  }
  .embed-text-cont {
    width: 40%;
    left: 635px;
  }
  /*embedded architecture content*/

  /*comment section*/
  .comment-imaga1 {
    left: 220px;
  }
  .comment-div {
    left: 22px;
    margin-top: -180px;
  }
  .comment-right-cont {
    width: 36%;
    left: 745px;
    margin-top: -365px;
  }
  .comment-right-cont h1 {
    font-size: 2.25rem;
  }
  /*comment section*/

  /*full service section*/
  .emb-full-serv-image2 {
    left: 460px;
    top: 35px;
  }
  .full-serv-img1 {
    left: 200px;
    top: 350px;
  }
  .full-sev-emb1 {
    left: 800px;
  }
  .full-serv-cont {
    left: 200px;
    /* border: 1px solid red; */
  }
  /*full service section*/
}

@media only screen and (max-width: 1023px) {
  /*photo-galary-what-we-do*/
  .glary-image1 {
    margin-left: 80px;
  }
  .glary-image2 {
    margin-top: 325px;
    margin-left: 320px;
  }
  .glary-image3 {
    margin-top: 580px;
    margin-left: 100px;
  }
  .what-we-do {
    margin-top: 750px;
    margin-left: 275px;
  }
  /*photo-galary-what-we-do*/

  /*who are the best*/
  .who-are-the-best {
    min-height: 710px;
  }
  .who-are-the-best-cont {
    left: 375px;
    margin-top: 20%;
  }
  .who-best-yellow-right {
    width: 80%;
  }
  /*who are the best*/

  /*about company*/
  .about-company img {
    left: 12%;
    margin-top: 95px;
  }
  .cmn-company-content {
    margin-top: 60px;
    padding-left: 10px;
  }
  /*about company*/

  /*embedded architecture content*/
  .embed-image1 {
    top: 120px;
    left: 35px;
  }
  .embed-image2 {
    width: 540px;
    left: 435px;
  }
  .embed-image3 {
    top: 358px;
    left: 105px;
  }
  .embed-yellow-cont {
    height: 490px;
    z-index: 0;
    top: 354px;
  }
  .embed-text-cont {
    left: 575px;
    margin-top: -15px;
  }
  /*embedded architecture content*/

  /*comment section*/
  .comment-imaga1 {
    left: 100px;
    top: -28%;
  }
  .comment-div {
    left: 33px;
    margin-top: -140px;
  }
  .comment-right-cont {
    left: 625px;
  }
  /*comment section*/

  /*full service section*/
  .full-serv-img1 {
    left: 100px;
    top: 265px;
  }
  .emb-full-serv-image2 {
    left: 290px;
  }
  .full-sev-emb1 {
    width: 260px;
    height: 243px;
    left: 700px;
  }
  .full-serv-cont {
    left: 100px;
  }
  /*full service section*/

  /*singup section*/
  .colsing-md8 {
    width: 92% !important;
  }
  /*singup section*/
}

@media only screen and (max-width: 991px) {
  /*our service*/
  .aboutus-row {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*our service*/

  /*who are the best*/
  .who-are-the-best-cont {
    left: 350px;
  }
  /*who are the best*/

  /*comment section*/
  .comment-right-cont {
    left: 610px;
  }
  /*comment section*/
}

@media only screen and (max-width: 767px) {
  /*photo-galary-what-we-do*/
  .photo-galary-what-we-do {
    min-height: 1030px;
  }
  .glary-image1 {
    width: 383px;
    height: 255px;
    margin-left: 175px;
  }
  .glary-image2 {
    width: 338px;
    height: 220px;
    margin-left: 290px;
    margin-top: 295px;
  }
  .glary-image3 {
    width: 245px;
    height: 182px;
    margin-left: 135px;
    margin-top: 475px;
  }
  .what-we-do {
    width: 405px;
    height: 385px;
    margin-top: 615px;
  }
  .yellow-right {
    height: 1040px;
  }
  /*photo-galary-what-we-do*/

  /*architecture-text-cont*/
  .architecture-text-cont h1 {
    font-size: 1.875rem;
  }
  /*architecture-text-cont*/

  /*our service*/
  .our-service {
    height: 1300px;
  }
  .col6-cmn {
    height: 235px;
  }
  .aboutus-row {
    margin-top: 0 !important;
  }
  /*our service*/

  /*who are the best*/
  .who-best-image {
    width: 490px;
    height: 345px;
    margin-top: -80px;
  }
  .who-are-the-best-cont {
    width: 435px;
    left: 220px;
  }
  /*who are the best*/

  /*about company*/
  .about-company img {
    left: 18%;
    margin-top: 75px;
  }
  .colm5 {
    max-height: 400px;
  }
  .cmn-company-content {
    margin-top: 140px;
    padding-left: 130px;
  }
  .cmn-company-content p {
    max-width: 450px;
  }
  .colm7 {
    height: 700px;
  }
  /*about company*/

  /*embedded architecture content*/
  .emb-arch-content {
    min-height: 2000px;
  }
  .embed-image1 {
    top: 270px;
    left: 110px;
  }
  .embed-image2 {
    width: 477px;
    height: 344px;
    left: 175px;
  }
  .embed-image3 {
    top: 545px;
    left: 235px;
  }
  .embed-text-cont {
    width: 75%;
    left: 150px;
    margin-top: 645px;
  }
  /*embedded architecture content*/

  /*comment section*/
  .comment-sec {
    min-height: 560px;
  }
  .comment-imaga1 {
    left: 170px;
    top: -28%;
    width: 500px;
    height: 580px;
  }
  .comment-right-cont {
    left: 160px;
    margin-top: -790px;
    width: 65%;
  }
  .comment-right-cont h1 {
    font-size: 1.875rem;
  }
  .comment-div {
    left: 110px;
    margin-top: -160px;
    width: 375px;
  }
  /*comment section*/

  /*full service section*/
  .full-service-sec {
    min-height: 1435px;
  }
  .emb-full-serv-image2 {
    top: 60px;
    left: 170px;
    width: 477px;
    height: 336px;
  }
  .full-serv-img1 {
    left: 100px;
    top: 340px;
    width: 419px;
    height: 306px;
  }
  .full-sev-emb1 {
    width: 229px;
    height: 209px;
    top: 680px;
    left: 415px;
  }
  .full-serv-cont {
    top: 925px;
  }
  .full-serv-left-yellow {
    height: 1435px;
  }
  /*full service section*/
}

@media only screen and (max-width: 575px) {
  /*photo-galary-what-we-do*/
  .glary-image1 {
    width: 292px;
    height: 195px;
    margin-top: 57px;
    margin-left: 115px;
  }
  .glary-image2 {
    width: 273px;
    height: 222px;
    margin-left: 180px;
    margin-top: 212px;
  }
  .glary-image3 {
    width: 228px;
    height: 162px;
    margin-left: 115px;
    margin-top: 390px;
  }
  .what-we-do {
    width: 315px;
    height: 415px;
    margin-top: 515px;
    margin-left: 175px;
  }
  .yellow-right {
    height: 990px;
  }
  /*photo-galary-what-we-do*/

  /*architecture-text-cont*/
  .architecture-text-cont {
    margin-top: 20px;
  }
  .arc-text-container {
    width: 65% !important;
  }

  /*architecture-text-cont*/

  /*our service*/
  .our-service {
    margin-top: 20px;
    height: 1860px;
  }
  .col6-cmn {
    width: 69% !important;
    height: 213px;
  }
  .service-card {
    margin-top: 0;
  }
  .service-card-row {
    justify-content: center !important;
  }
  .aboutus-row {
    margin-top: 110px !important;
    justify-content: center;
  }
  .aboutus-row h1 {
    font-size: 2.25rem;
  }
  .aboutus-row p:last-of-type {
    font-size: 1.125rem;
  }
  .aboutus-row h4 {
    font-weight: 700;
    font-size: 1.5rem;
  }
  /* .sample-p {
    font-size: 1.125rem;
  } */
  .cmn-col-6 {
    width: 68% !important;
  }

  /*our service*/
}

@media only screen and (max-width: 424px) {
}
